*{
    box-sizing: border-box;
}

body {
   background-color: rgb(8, 241, 241);
   color: white;
   font-family: 'Press Start 2P', cursive;
  
}

#game {
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

span {
    font-size: 24px;
}


.display {
    margin-top: 50px;
    display: flex;
}

.shake {
  animation: shake 0.4s infinite
}

#start-game {
    margin-top: 100px;
    border: none;
    font-family: 'Press Start 2P', cursive;
    background-color: rgb(8, 241, 241);
    color: white;
    font-size: larger;
    cursor: pointer;
    outline: none;
}

#result {
   padding-top: 50px;
}

#userImg {
    transform: rotateY(180deg);
}


@keyframes  shake {   
  0%   { transform: translateY(0); }
  25%   { transform: translateY(-100px); }
  50%   { transform: translateY(0); }
  75%   { transform: translateY(-100px); }
  100% { transform: translateY(0); }
}



@media only screen and (max-width:400px) {
    span {
        font-size: 14px;
    } 
    .display {
        width: 340px;
        height: 240px;
        
    }
    #user, #computer {
        width: 50%;
    } 
    #userImg, #computerImg {
        width:100%;
        height: 100%;
    }
}


@media (min-width:400px) and (max-width:500px) {
    span {
        font-size: 16px;
    } 
    .display {
        width: 400px;
        height: 240px;
    }
    #user, #computer {
        width: 50%;
    } 
    #userImg, #computerImg {
        width:100%;
        height: 100%;
    }
}